h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 44px;
}

h3 {
    font-size: 33px;
}

small {
    display: block;
}

#main {
    padding-top: 50px;
    max-width: 980px;
}

#row1{
}

#row2{
    padding-top: 50px;
}

.idle {
    text-align: center;
    width: 16.66667%;
}

.idle img{
    width:  133px;
    height: 133px;
}

.idle .language {
    text-align: center;
}

.idle .name h3 {
    text-align: center;
}

#form_area{
    margin-top: 50px;
    margin-bottom: 50px;
}

#form_area .title{
    width: 800px;
}

#form_area th{
    width: 10%;
}

#form_area td.language{
    width: 20%;
}

#form_area td.url{
    width: 50%;
}

#form_area td.name{
    width: 20%;
}

.share {
    padding-top: 15px;
}
